.pokediv {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.pokeImgSingle {
    height: 20vh;

}

.suggestion-heading {
    margin-top: 20px;
    font-size: 60px;
    color: white;
    font-weight: 800;
}

.container {
    margin-bottom: 5vh;
}

.poke-name-single {
    font-weight: 900;
    font-size: 10vh;
}

.pokemon-forms-img {
    height: 20vh;
}

.poke-forms {
    display: inline-block;
    margin: 2vh;
}

.form-heading {
    font-weight: 700;
}

table {
    width: 100%;
}

.poke-type-gif {
    height: 10vh;
}

@media (max-width: 425px) {

    .poke-name-single {
        font-size: 5vh;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .suggestion-heading {
        font-size: 30px;
    }
}