.poke-card {
    max-width: 30vh;
    border-radius: 20px;
    background-color: white;
    padding:10px;
    margin-top: 20px;
    text-align: center;
    transition: transform 0.5s;
}

.poke-card:hover {
  transform: rotateY(15deg) rotateX(15deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.poke-card:hover .pokeImg {
  transform: scale(2); 
}



table {
    margin: 0 auto;
}
.poke-name {
    font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
    color: white;
}

.pokeImg {
    height: 10vh;
    transition: transform 0.3s ease-in-out;
}
.poke-audio{
    max-width: 25vh;
}

.poke-experience {
    background-color: rgb(74, 74, 253);
    color: white;
    border-radius: 10px;
    max-width: 10vh;
    padding: 2px;
    align-self: flex-end;

}

.pagination {
    margin-top: 5vh;
    padding-bottom: 5vh;
    justify-content: center;
  }


  .poke-table-stats {
    font-size: 12px; 
    border-bottom: 1px solid rgb(180, 180, 180);

  }
  .poke-table-heading {
border-right: 1px solid rgb(180, 180, 180);
border-bottom: 1px solid rgb(180, 180, 180);
  }

  .scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px; /* Height of the progress bar */
    background-color: #ff0000; /* Color of the progress bar */
    z-index: 999; /* Ensure it's above other elements */
}
#searchSuggestions {
  color:  rgb(74, 74, 253);
  background-color: white;
  border-radius: 10px;
  width: 50vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

  @media (max-width: 425px) {
    
    .poke-card {
      max-width: 90vh;
    }
  }