body {
    background-color: rgb(34, 32, 32);
    text-align: center;
}

#carouselIntro {
    height:50vh;
}

.car-img {
    height:50vh;
    width: 100%;
    object-fit: cover;
}
  
  .centered-intro {
    background-color: white;
  }

  .button-intro {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    font-family: inherit;
    color: #17C3B2;
    margin-top: 10%;
   }
   
   .button-intro::before {
    content: '';
    width: 0;
    height: 800%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: 1s ease;
    display: block;
    z-index: -1;
   }
   
   .button-intro:hover::before {
    width: 105%;
   }
   
   .button-intro:hover {
    color: #111;
   }
  
  
